apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -prod

helmCharts:
  - name: pgadmin4
    repo: https://helm.runix.net
    version: 1.49.0
    releaseName: lhw-data-analysis
    valuesFile: values-prod.yaml
    # This block overrides anything in values-prod.yaml or the default chart
# We still need to delete the secret created by Helm if you are managing 
# credentials this way to prevent conflicts.
patches:
  - target:
      kind: Secret
      name: lhw-data-analysis-pgadmin4
    patch: |
      $patch: delete
      apiVersion: v1
      kind: Secret
      metadata:
        name: lhw-data-analysis-pgadmin4
