apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -prod

helmCharts:
  - name: pgadmin4
    repo: https://helm.runix.net
    version: 1.49.0
    releaseName: lhw-data-analysis
    namespace: monitoring-prod
    # Use the values file located in this same overlay folder
#    valuesFile: values-prod.yaml

# You can still add Kustomize-specific global settings here
commonLabels:
  env: prod

patches:
  - target:
      kind: Deployment
      name: lhw-data-analysis-pgadmin4
    patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: lhw-data-analysis-pgadmin4
        annotations:
          # Tells Vault Agent Injector to trigger
          vault.hashicorp.com/agent-inject: "true"
          # The role you created in Vault
          vault.hashicorp.com/role: "pgadmin-role"
          # The path to your secret in Vault KV store
          vault.hashicorp.com/agent-inject-secret-config: "secret/data/monitoring/pgadmin"
          # The template that creates the shell script
          vault.hashicorp.com/agent-inject-template-config: |
            {{- with secret "secret/data/monitoring/pgadmin" -}}
            export PGADMIN_DEFAULT_PASSWORD="{{ .Data.data.password }}"
            {{- end -}}
