apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -prod

helmCharts:
  - name: pgadmin
    repo: https://helm.runix.net
    version: 1.49.0
    releaseName: lhw-data-analysis
    namespace: monitoring-prod
    # Use the values file located in this same overlay folder
#    valuesFile: values.yaml

# You can still add Kustomize-specific global settings here
commonLabels:
  env: prod
