apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

nameSuffix: -prod

helmCharts:
  - name: pgadmin4
    repo: https://helm.runix.net
    version: 1.49.0
    releaseName: lhw-data-analysis
    namespace: monitoring-prod
    valuesFile: values-prod.yaml

patches:
  - target:
      kind: Deployment
      name: lhw-data-analysis-pgadmin4
    patch: |
      # 1. Add PYTHONPATH so Python looks in the writable data dir for the config
      - op: replace
        path: /spec/template/spec/containers/0/env
        value:
          - name: PGADMIN_DEFAULT_EMAIL
            value: "chart@domain.com"
          - name: PYTHONPATH
            value: "/var/lib/pgadmin"

      # 2. Vault Annotations
      - op: add
        path: /spec/template/metadata/annotations
        value:
          vault.hashicorp.com/agent-inject: "true"
          vault.hashicorp.com/role: "pgadmin-role"
          
          vault.hashicorp.com/agent-inject-secret-config: "secret/data/monitoring/pgadmin"
          vault.hashicorp.com/agent-inject-template-config: |
            {{- with secret "secret/data/monitoring/pgadmin" -}}
            export PGADMIN_DEFAULT_PASSWORD="{{ .Data.data.password }}"
            {{- end -}}
          
          vault.hashicorp.com/agent-inject-secret-ad-config: "secret/data/monitoring/pgadmin"
          vault.hashicorp.com/agent-inject-template-ad-config: |
            {{- with secret "secret/data/monitoring/pgadmin" -}}
            AUTHENTICATION_SOURCES = ['ldap', 'internal']
            LDAP_SERVER_URI = '{{ .Data.data.ad_server }}'
            LDAP_BIND_USER = '{{ .Data.data.ad_bind_user }}'
            LDAP_BIND_PASSWORD = '{{ .Data.data.ad_bind_password }}'
            LDAP_BASE_DN = '{{ .Data.data.ad_base_dn }}'
            LDAP_USERNAME_ATTRIBUTE = 'sAMAccountName'
            LDAP_SEARCH_FILTER = '(objectclass=user)'
            LDAP_AUTO_CREATE_USER = True
            {{- end -}}

      # 3. Enable ServiceAccount
      - op: replace
        path: /spec/template/spec/automountServiceAccountToken
        value: true

      # 4. Startup Command
      - op: add
        path: /spec/template/spec/containers/0/command
        value:
          - "/bin/sh"
          - "-c"
          - |
            while [ ! -f /vault/secrets/config ] || [ ! -f /vault/secrets/ad-config ]; do 
              sleep 1; 
            done;
            . /vault/secrets/config;
            
            # Place the file in the writable directory
            ln -sf /vault/secrets/ad-config /var/lib/pgadmin/config_local.py
            
            exec /entrypoint.sh

  - target:
      kind: Secret
      name: lhw-data-analysis-pgadmin4
    patch: |
      $patch: delete
      apiVersion: v1
      kind: Secret
      metadata:
        name: lhw-data-analysis-pgadmin4
