# 1. Identity
serviceAccount:
  create: true
#  serviceaccount: lhw-data-analysis-pgadmin
  automountServiceAccountToken: true

# 2. Persistence
persistence:
  enabled: true
  storageClass: "local-path"
  accessMode: ReadWriteOnce
  size: 1Gi

#existingSecret: ""

# 3. Server Connections (Auto-import)
# This adds your Postgres instances to the pgAdmin UI automatically
serverDefinitions:
  enabled: true
  servers:
    internal-db:
      Group: "Production"
      Name: "Main-Postgres"
      Host: "postgres-service.database.svc.cluster.local"
      Port: 5432
      MaintenanceDB: "postgres"
      Username: "admin"
      SSLMode: "prefer"

# 4. Entrypoint tweak for Vault
# We must source the secrets injected by Vault before starting pgAdmin
#extraEnv:
#  - name: PGADMIN_DEFAULT_EMAIL
#    value: "admin@example.com"

env:
  # can be email or nickname
  email: chart@domain.com
  password: SuperSecret
# Using a custom command to source the Vault secrets

containerSecurityContext:
  enabled: true
  runAsUser: 5050 # Standard pgAdmin user

