apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: monitoring-prod

patches:
  - target:
      kind: ServiceAccount
      name: lhw-mariadb-sa
    patch: |-
      - op: replace
        path: /automountServiceAccountToken
        value: true
  - target:
      kind: StatefulSet
      name: maria-mariadb-galera
    patch: |-
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject
        value: "true"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1role
        value: "mariadb-galera-role-prod"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-run-as-user
        value: "1001"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-secret-mariadb-root-password
        value: "secret/data/prod/mariadb"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-template-mariadb-root-password
        value: |
          {{- with secret "secret/data/prod/mariadb" -}}
          {{ .Data.data.root_password }}
          {{- end -}}
