apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: monitoring-prod

patches:
  # Patch the ServiceAccount to allow automounting
  - target:
      kind: ServiceAccount
      name: lhw-mariadb-sa
    patch: |-
      - op: replace
        path: /automountServiceAccountToken
        value: true

  # Patch the StatefulSet for Vault injection and Token mounting
  - target:
      kind: StatefulSet
      name: maria-mariadb-galera
    patch: |-
      # 1. Enable the token mount for the Pods
      - op: replace
        path: /spec/template/spec/automountServiceAccountToken
        value: true
      
      # 2. Add/Update Vault Annotations
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject
        value: "true"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1role
        value: "mariadb-galera-role-prod"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-run-as-user
        value: "1001"
      
      # Root Password Template
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-secret-mariadb-root-password
        value: "secret/data/prod/mariadb"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-template-mariadb-root-password
        value: |
          {{- with secret "secret/data/prod/mariadb" -}}
          {{ .Data.data.root_password }}
          {{- end -}}
      
      # App Password Template
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-secret-mariadb-password
        value: "secret/data/prod/mariadb"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-template-mariadb-password
        value: |
          {{- with secret "secret/data/prod/mariadb" -}}
          {{ .Data.data.password }}
          {{- end -}}
      
      # Backup Password Template
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-secret-mariadb-galera-mariabackup-password
        value: "secret/data/prod/mariadb"
      - op: add
        path: /spec/template/metadata/annotations/vault.hashicorp.com~1agent-inject-template-mariadb-galera-mariabackup-password
        value: |
          {{- with secret "secret/data/prod/mariadb" -}}
          {{ .Data.data.backup_password }}
          {{- end -}}
