# deploy/overlays/test/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

namespace: monitoring-prod
nameSuffix: -prod

helmCharts:
  - name: grafana
    valuesFile: values-prod.yaml
